RewriteEngine On
RewriteBase /react_router_lp_test/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /react_router_lp_test/index.html [L]