@import "tailwindcss";

@theme {
    --font-sans: "Noto Sans JP", "Oswald", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@layer base {
    html, body {
        @apply h-full m-0 p-0 overflow-x-hidden;
    }
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.buttonAnimation {
    transform: translate(-50%, -50%);
    transform-origin: center;
    animation: cta-button-animation 1.5s ease infinite;
    -webkit-animation: cta-button-animation 1.5s ease infinite;
}

@keyframes cta-button-animation {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    15% {
        transform: translate(-50%, -50%) scale(1.03);
    }
    30% {
        transform: translate(-50%, -50%) scale(1);
    }
    45% {
        transform: translate(-50%, -50%) scale(1.03);
    }
    70% {
        transform: translate(-50%, -50%) scale(1);
    }
    90% {
        transform: translate(-50%, -50%) scale(1.03);
    }
}

@-webkit-keyframes cta-button-animation {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(1);
    }
    15% {
        -webkit-transform: translate(-50%, -50%) scale(1.03);
    }
    30% {
        -webkit-transform: translate(-50%, -50%) scale(1);
    }
    45% {
        -webkit-transform: translate(-50%, -50%) scale(1.03);
    }
    70% {
        -webkit-transform: translate(-50%, -50%) scale(1);
    }
    90% {
        -webkit-transform: translate(-50%, -50%) scale(1.03);
    }
}