@import "tailwindcss";

@theme {
    --font-sans: "Noto Sans JP", "Oswald", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@layer base {
    html, body {
        @apply h-full m-0 p-0 overflow-x-hidden;
    }
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}